.app > header {
  text-align: center;
  padding: 20px 50px;
  background: #f0f0f0;
}

.app > main {
  padding: 20px 50px;
  text-align: center;
}

.inputForm {
  margin-bottom: 50px;
}

.inputForm > input {
  margin-right: 20px;
  padding: 20px 20px;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 1px solid #000;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border: none;
}

.value {
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.emojiContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  place-content: center;
  width: 50%;
  margin: 0 auto;
}

.emojiButton {
  font-size: 2rem;
  place-self: center;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  transition: 0.7s;
}

.emojiButton:hover {
  transform: translateY(-10px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.footer {
  text-align: center;
  padding: 20px 50px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #f0f0f0;
}

.footer a {
  font-weight: bold;
  cursor: pointer;
}
